* {
  box-sizing: border-box;
}

 body, html, section, main, div, aside {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
}

h1 {
  font-size: 86px;
  text-align: center;
}

.linked-list-svg {
  height: 15%;
  width: 15%;
}

.website-info-entry {
  background-color: #455A64;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  min-height: 1000px;
  width: 50%;
  justify-content: center;
}

.web-info{
  margin-bottom: 200px;
  margin-top: 200px;
}

.web-inputs {
  border: solid 2px #CFD8DC;
  display: block;
  height: 50px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 90%;
  padding-top: 10px;
}

/*#web-url.invalid {
	border: 2px solid red;
}

#web-url.valid {
	border: 2px solid green;
}*/

.web-inputs::-webkit-input-placeholder {
color: #CFD8DC;
font-size: 24px;
font-weight: 400;
padding-left: 10px;
}

#enter {
  background-color: #FFC107;
  border: none;
  color: #FFFFFF;
  display: block;
  font-weight: bold;
  height: 45px;
  margin: auto;
  margin-bottom: 50px;
  width: 90%;
}

#enter:hover {
  background-color: #FFD773;
}

#enter:disabled {
  background-color: #FFD773;
}

.card-stack {
  background-color: #CFD8DC;
  display: flex;
  flex-direction: column;
  min-height: 1000px;
  width: 50%;
}

.web-cards {
  background-color: #FFFFFF;
  border: 2px solid #607D8B;
  color: #455A64;
  height: 150px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 30px;
  width: 90%;
}

.card-web-title {
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 10px 10px 10px 25px;
  padding-bottom: 5px;
}

#hr1, #hr2 {
  color: #CFD8DC;
  width: 92%;
}

#hr1 {
  margin-bottom: 25px;
}

#hr2 {
  margin-top: 20px;
}

.links {
  color: #607D8B;
  padding: 15px 22px;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

.links:hover {
  color: #455A64;
  text-decoration-color: #FFC107;
}

.read-delete {
  color: #455A64;
  background: none;
  border: none;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

.read-delete:hover {
  text-decoration-color: #FFC107;
}

.read {
  color: #F05A28;
}

.backgroundColor {
  background-color: #F2F4F4;
}

/*#card-web-link.read {
  text-decoration: underline;
  text-decoration-color: #CFD8DC;
}*/

#read-link {
padding-left: 22px;

}

#delete-link {
  float: right;
  margin-right: 15px;
}

@media screen and (max-width:1300px) {
  h1 {
    font-size: 70px;
  }
}

@media screen and (max-width:1160px) {
  h1 {
    font-size: 60px;
  }
}

@media screen and (max-width:915px) {
  h1 {
    font-size: 50px;
  }
}

@media screen and (max-width:760px) {
  h1 {
    font-size: 65px;
  }
  body{
    flex-direction: column;
  }
  .website-info-entry {
    display: flex;
    width: 100%;
    min-height: 400px;
  }

  .web-inputs {
    width: 90%;
  }

  #enter {
    width: 90%;
  }

  .card-stack {
    width: 100%;
  }

  .web-cards {
    width: 90%;
  }
  .web-info {
    margin:0;
  }

  .web-card-title, .links, #read-link {
    padding-left: 25px;
  }

}

@media screen and (max-width:575px) {
  .web-info-entry {
    min-height: 300px;
  }

  h1 {
    font-size: 45px;
  }
  .linked-list-svg {
    width: 12%;
  }

  .web-inputs {
    margin-top: 30px;
    margin-bottom: 30px;
  }

}

@media screen and (max-width:575px) {
  h1 {
    font-size: 35px;
  }
